<footer class="bg-light text-center text-lg-start">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">ABOUT MYEDUSPACE</h5>
          <p>
            Ce projet permet aux étudiants et aux professeurs de gérer et consulter facilement leurs contenus éducatifs.
          </p>
        </div>
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">CONTACT US</h5>
          <p>
            New York, NY 10012, US<br>
            classegmail.com
          </p>
        </div>
      </div>
    </div>
    <div class="text-center p-3 bg-primary text-white">
      © 2024 Copyright: MyEduSpace.com
    </div>
  </footer>
  